# Binary files — stored as-is, no line-ending conversion.
*.db binary
*.db-shm binary
*.db-wal binary
*.sqbpro binary
*.wav binary
*.mp3 binary
*.wav filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.db-shm filter=lfs diff=lfs merge=lfs -text
*.db-wal filter=lfs diff=lfs merge=lfs -text
*.sqbpro filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
