*.7z binary
*.arrow binary
*.bin binary
*.bz2 binary
*.ckpt binary
*.ftz binary
*.gz binary
*.h5 binary
*.joblib binary
*.mlmodel binary
*.model binary
*.msgpack binary
*.npy binary
*.npz binary
*.onnx binary
*.ot binary
*.parquet binary
*.pb binary
*.pickle binary
*.pkl binary
*.pt binary
*.pth binary
*.rar binary
*.safetensors binary
saved_model/**/* binary
*.tar.* binary
*.tar binary
*.tflite binary
*.tgz binary
*.wasm binary
*.xz binary
*.zip binary
*.zst binary
*tfevents* binary
samples/af_heart_3.wav binary
samples/af_heart_4.wav binary
samples/af_heart_5.wav binary
eval/ArtificialAnalysis-2025-02-26.jpeg binary
eval/TTS_Arena-2025-02-26.jpeg binary
eval/TTS_Spaces_Arena-2025-02-26.jpeg binary
